
.btn {

    /* pesudo class: special state when the button is a archor tag */
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.3s;
        position: relative;
    }

    /* In css, the y axis moves from up to down, and from down to up, we use negative */
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        /* scale: increse the size of element */
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
    }

    &--white {
        background-color:$color-white;
        color: $color-grey-dark;

        &::after {
            background: white;
        }
    }

    /* we want an element looks exactly the same as the button */
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    /*  backwards: the initial state (0%) defined in keyframe will be applied before the 
    animation starts */
    &--animated {
        animation: moveInBottom .5s ease-out 0.75s;
        animation-fill-mode: backwards; 
    }
}